<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Career Site Demo</title>
    <link rel="shortcut icon" href='/static/favicon.ico'>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div id="container">
    <h1>Career Site</h1>
    <img id="banner" src="/static/banner.jpg" > 
    <h2>About Career Site</h2>
    <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis dapibus quam. Ut quis urna vel quam tempus lobortis quis at lacus. Donec imperdiet nibh non commodo sollicitudin. In congue leo et tincidunt sodales. Maecenas finibus consectetur felis, eu semper felis. Quisque nec sollicitudin ex, at pulvinar magna. Sed sagittis sodales mauris. Sed malesuada massa pulvinar arcu tincidunt, aliquam fermentum dui sollicitudin. Donec erat nibh, laoreet ut feugiat quis, laoreet sit amet odio. Sed sit amet suscipit dolor. In molestie nisl sed enim facilisis, id sodales eros porta.</p>
    <h2>Open Possitions</h2>
    <p class="bodytext">TODO - Show Job Openings</p>
    <div style = "text-align:center;"><button>Contact Us</button></div>
      </div>
  </body>
</html>