<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Career Site Demo</title>
    <link rel="shortcut icon" href='/static/favicon.ico'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css"> 
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} Career Site</h1>
    <img class="img-fluid" id="banner" src="/static/banner.jpg" > 
    <h2 h1 class="text-center mt-2 mb-4">About Career Site</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis dapibus quam. Ut quis urna vel quam tempus lobortis quis at lacus. Donec imperdiet nibh non commodo sollicitudin. In congue leo et tincidunt sodales. Maecenas finibus consectetur felis, eu semper felis. Quisque nec sollicitudin ex, at pulvinar magna. Sed sagittis sodales mauris. Sed malesuada massa pulvinar arcu tincidunt, aliquam fermentum dui sollicitudin. Donec erat nibh, laoreet ut feugiat quis, laoreet sit amet odio. Sed sit amet suscipit dolor. In molestie nisl sed enim facilisis, id sodales eros porta.</p>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
    <p>
        <!--templating syntaxt from flask to add dynamic data into html  -->
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="mt-4">Copyright 2023</p>
    </div>
      </div>
  </body>
</html>